{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "controllers": "./controllers",
                "middlewares": "./middlewares",
                "models": "./models",
                "utils": "./utils",
                "routes": "./routes",
                "services": "./services",
                "validations": "./validations"
            }
        }]
    ]
}